<h1>Edit</h1>

<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops! Something went wrong. Please check the errors below.</p>
  </div>
<% end %>

<%= form_for @changeset, user_path(@conn, :update, @user), fn f -> %> 
  <div class="form-group">
    <%= text_input f, :name, placeholder: "Name", class: "form-control name", id: "name" %>
    <%= error_tag f, :name %>
  </div>
  <div class="form-group">
    <%= text_input f, :username, placeholder: "Username", class: "form-control username", id: "username" %>
    <%= error_tag f, :username %>
  </div>
  <div class="form-group">
    <%= text_input f, :email, placeholder: "Email", class: "form-control email", id: "email" %>
    <%= error_tag f, :email %>
  </div>
  <%= submit "Submit", class: "btn btn-primary submit" %>
  </div>
<% end %>

