<%= form_for @changeset, user_path(@conn, :create), fn f -> %> 
  <div class="form-group">
    <%= text_input f, :name, placeholder: "Name", class: "form-control name", id: "name" %>
    <%= error_tag f, :name %>
  </div>
  <div class="form-group">
    <%= text_input f, :username, placeholder: "Username", class: "form-control username", id: "username" %>
    <%= error_tag f, :username %>
  </div>
  <div class="form-group">
    <%= text_input f, :email, placeholder: "Email", class: "form-control email", id: "email" %>
    <%= error_tag f, :email %>
  </div>
  <div class="form-group">
    <%= password_input f, :password, placeholder: "Password", class: "form-control password", id: "password" %>
    <%= error_tag f, :password %>
  </div>
  <div class="form-group">
    <%= password_input f, :password_confirmation, placeholder: "Password confirmation", class: "form-control password-confirmation", id: "password-confirmation" %>
    <%= error_tag f, :password_confirmation %>
  </div>
  <%= submit "Submit", class: "btn btn-primary submit" %>
  </div>
<% end %>

