<h1>Listing Users</h1>

<table class="table users">
  <tr>
    <th><%= link "New user", to: user_path(@conn, :new), class: "btn btn-primary"%></th>
    <th></th>
    <th></th>
  </tr>
  <%= for user <- @users do %>
    <tr class="user">
      <td><%= render "user.html", user: user, conn: @conn %></td>
      <td><%= link "View", to: user_path(@conn, :show, user.id) %></td>
      <td><%= link "Edit", to: user_path(@conn, :edit, user.id) %></td>
    </tr>
  <% end %>
</table>
