<h1>Sign up</h1>

<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops! Something went wrong. Please check the errors below.</p>
  </div>
<% end %>

<%= render "form.html", conn: @conn, changeset: @changeset %>
