<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= "#{assigns[:title]} | Ruby on Rails Tutorial Sample App" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <ol class="breadcrumb text-right">
          <li><%= link "Home", to: page_path(@conn, :home) %></li>
          <li><%= link "Help", to: page_path(@conn, :help) %></li>
          <li><%= link "About", to: page_path(@conn, :about) %></li>
          <li><%= link "Contact", to: page_path(@conn, :contact) %></li>
          <%= if @current_user do %>
            <li><%= @current_user.username %></li>
            <li><%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %></li>
          <% else %>
            <li><%= link "Sign up", to: user_path(@conn, :new) %></li>
            <li><%= link "Log in", to: session_path(@conn, :new) %></li>
          <% end %>
        </ol>
      </header>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
      <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
