<h1>Login</h1>
<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %> 
  <div class="form-group">
    <%= text_input f, :username_or_email, placeholder: "Username or email", class: "form-control username_or_email", id: "username_or_email" %>
    <%= error_tag f, :username_or_email %>
  </div>
  <div class="form-group">
    <%= password_input f, :password, placeholder: "Password", class: "form-control password", id: "password" %>
    <%= error_tag f, :password %>
  </div>
  <%= submit "Login", class: "btn btn-primary submit" %>
  </div>
<% end %>

